<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <% if current_user %>
  <div class="navbar-item">
    <%= link_to 'Log out', logout_path, method: :delete, class: 'button is-danger' %>
  </div>
<% end %>
<nav>
  <ul>
    <% if logged_in? %>
      <!-- Display navigation links for logged-in users -->
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Profile', user_profile_path(current_user) %></li>
      <li><%= link_to 'Log out', logout_path, method: :delete %></li>
    <% else %>
      <!-- Display navigation links for non-logged-in users -->
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Log in', login_path %></li>
      <li><%= link_to 'Sign up', signup_path %></li>
    <% end %>
  </ul>
</nav>

  </body>
</html>

